@import "~antd/dist/antd.less";
@import "./utils.less";
body {
  overflow-x: hidden;
}
h1 {
  font-size: 72px;
}
h2 {
  font-weight: 900;
}
.ant-form-item {
  margin-bottom: 15px !important;
}
.ant-form-item-label {
  padding-top: @zero;
}
.ant-input-group-addon {
  padding: @zero;
  overflow: hidden;
  height: 40px;
  .border-0;
}
.ant-input-group-addon .ant-btn {
  .border-left-0;
  background: white;
  border-radius: 0 5px 5px 0;
}

//input
// .ant-input-affix-wrapper {
//   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05) !important;
// }
//btn
.ant-btn-primary {
  box-shadow: 0 10px 20px rgba(74, 39, 247, 0.25) !important;
}
.ant-btn-success {
  background: rgb(22, 238, 119) !important;
  border-color: rgb(22, 238, 119) !important;
  .text-white;
  box-shadow: 0 10px 20px rgba(13, 199, 97, 0.25) !important;
}
.ant-btn-danger {
  background: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: white !important;
  box-shadow: 0 10px 20px rgba(252, 16, 48, 0.25) !important;
}
.ant-btn-danger:hover,
.ant-btn-danger:focus {
  background: #ff7b7e !important;
  border-color: #ff7b7e !important;
}
.titlebar {
  background-color: white;
  height: 22px;
  font-size: 14px;
  width: 100vw;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}
.titlebar > span {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.container {
  height: ~"calc(100vh - 22px)";
  overflow-y: scroll;
}

//private page
.header-app {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 1px solid #f0f5f9;
}
ul {
  list-style: none;
}
.header-app .ant-dropdown-menu-item-group-list {
  .p-0;
}
.header-app .ant-dropdown-menu-item-group-title {
  .py-0;
  font-size: 0.7em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
}
.header-app .ant-menu-horizontal {
  .border-0;
}
.header-app .ant-menu-horizontal > .ant-menu-item {
  .px-2;
}
.header-app .ant-menu-horizontal > .ant-menu-item:hover,
.header-app .ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}
.logo-h2 {
  font-family: "Pattaya";
}

.page-legend {
  padding-bottom: 10px;
  position: relative;
  border-bottom: 2px solid #3c63fe;
}

//table
.ant-table-small
  > .ant-table-content
  > .ant-table-body
  > table
  > .ant-table-tbody
  > tr
  > td {
  .p-0;
}
.ant-table-small
  > .ant-table-content
  > .ant-table-body
  > table
  > .ant-table-tbody
  > tr:hover
  > td {
  // background: rgba(74, 39, 247, 1);
  // color: white;
}
.ant-table-small .ant-input,
.ant-table-small .ant-input:hover,
.ant-table-small .ant-input:focus,
.ant-table-small .ant-select,
.ant-table-small .ant-select:hover,
.ant-table-small .ant-select:focus,
.ant-table-small .ant-input-number,
.ant-table-small .ant-input-number:hover,
.ant-table-small .ant-input-number:focus {
  border-radius: 0;
  .bg-transparent;
  .border-0;
  .w-100;
}
.ant-table-small .ant-select-selection,
.ant-table-small .ant-select-selection:focus,
.ant-table-small .ant-select-selection:hover {
  .rounded-0;
  .border-0;
  .w-100;
  .bg-transparent;
}
.ant-table-small .ant-input:focus,
.ant-table-small .ant-select-selection:focus,
.ant-table-small .ant-input-number-input:focus {
  .rounded-0;
  .bg-transparent;
  overflow: hidden;
  box-shadow: 0 0 0 2px #3c63fe !important;
}
.ant-menu-item {
  .m-0;
}
.ant-list-item-meta-title {
  .m-0;
}
.ant-list-item-action {
  .flex;
  .between;
  .middle;
}
.ant-list-item-meta {
  .mb-1;
}
.ant-list-item-action li {
  .flex;
  .px-1;
  text-align: center !important;
  font-size: 14px !important;
  flex: 1;
  text-align: center;
}
.ant-list-item-action li:not(:last-child):not(:first-child) span {
  .block;
  .mx-auto;
}
.ant-list-item-action li:last-child span {
  .w-100;
  text-align: right;
}
.total-text {
  font-size: 3em;
}
.ant-list-header {
  .py-0;
}
.ant-list .ant-spin-container {
  height: ~"calc(100vh - 155px)";
  overflow-y: scroll;
}
