@import "~antd/dist/antd.less";
@import "./utils.less";
body {
  overflow-x: hidden;
}
h1 {
  font-size: 72px;
}
h2 {
  font-weight: 900;
}
.ant-form-item {
  margin-bottom: 15px !important;
}
.ant-form-item-label {
  padding-top: @zero;
}
.ant-input-group-addon {
  padding: @zero;
  overflow: hidden;
  height: 40px;
  .border-0;
}
.ant-input-group-addon .ant-btn {
  .border-left-0;
  background: white;
  border-radius: 0 5px 5px 0;
}

//input
.ant-input-affix-wrapper {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05) !important;
}
//btn
.ant-btn-primary {
  box-shadow: 0 10px 20px rgba(74, 39, 247, 0.25) !important;
}
.ant-btn-danger {
  background: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: white !important;
  box-shadow: 0 10px 20px rgba(252, 16, 48, 0.25) !important;
}
.ant-btn-danger:hover,
.ant-btn-danger:focus {
  background: #ff7b7e !important;
  border-color: #ff7b7e !important;
}
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: white;
  height: 22px;
  font-size: 14px;
  width: 100vw;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}
.container {
  height: ~"calc(100vh - 22px)";
  overflow: scroll;
}

//private page
.header-app {
  display: flex;
  justify-content: space-between;
  // border-bottom: 2px solid #4a27f7;
}
ul {
  list-style: none;
}
.header-app .ant-dropdown-menu-item-group-list {
  .p-0;
}
.header-app .ant-dropdown-menu-item-group-title {
  .py-0;
  font-size: 0.7em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
}
.header-app .ant-menu-horizontal > .ant-menu-item {
  .px-2;
}
.header-app .ant-menu-horizontal > .ant-menu-item:hover,
.header-app .ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}
.logo-h2 {
  font-family: "Pattaya";
}

.page-legend {
  padding-bottom: 10px;
  position: relative;
  border-bottom: 2px solid rgba(74, 39, 247, 1);
}

//table
.ant-table-small
  > .ant-table-content
  > .ant-table-body
  > table
  > .ant-table-tbody
  > tr
  > td {
  .p-0;
}
.ant-table-small
  > .ant-table-content
  > .ant-table-body
  > table
  > .ant-table-tbody
  > tr:hover
  > td {
  // background: rgba(74, 39, 247, 1);
  // color: white;
}
.ant-table-small .ant-input,
.ant-table-small .ant-input:hover,
.ant-table-small .ant-input:focus {
  border-radius: 0;
  .bg-transparent;
  .border-0;
}
.ant-table-small .ant-input:focus {
  box-shadow: 0 0 0 2px rgba(74, 39, 247, 1) !important;
}
.ant-menu-item {
  .m-0;
}
